name: CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  CI:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15]

    steps:
      - uses: actions/checkout@v4

      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: "/home/runner/.cache/bazel"
          key: ${{ runner.os }}-bazel

      - name: Test
        run: |
          bazelisk test //...

      - name: Build
        run: |
          bazelisk build  //...
  
  DeployDocs:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: "/home/runner/.cache/bazel"
          key: ${{ runner.os }}-bazel

      - name: Build docs
        run: |
          bazelisk build  //docs:site

      - name: Deploy Docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./bazel-bin/docs/site
